# --- Obsidian ---
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/cache/
.obsidian/indexed*

# --- OS Specific ---
.DS_Store
Thumbs.db
desktop.ini

# --- Git / Lock files ---
*.swp

# --- Markdown Files ---
*.md

# --- Assets ---
*.png
*.jpg
*.jpeg
*.gif
*.webp
*.svg
*.pdf
*.mp4
*.mov
*.mp3
*.wav
*.zip
*.canvas

# --- Exceptions ---
# template files
!999_templates/**/*.md

# dataview files
!000_dataview/**/dataview.md

# README files
!README.md
