# --- Obsidian ---
vault/.obsidian/workspace.json
vault/.obsidian/workspace-mobile.json
vault/.obsidian/cache/
vault/.obsidian/indexed*

# --- OS Specific ---
.DS_Store
Thumbs.db
desktop.ini

# --- Git / Lock files ---
*.swp

# --- Markdown Files ---
*.md

# --- Assets ---
*.png
*.jpg
*.jpeg
*.gif
*.webp
*.svg
*.pdf
*.mp4
*.mov
*.mp3
*.wav
*.zip
*.canvas

# --- Exceptions ---
# template files
!vault/999_templates/**/*.md

# dataview files
!vault/000_dataview/**/dataview.md

# README files
!README.md
